body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }
html,
body {
    margin: 0;
    padding: 5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  #map {
    width: 100%; /* Adjust width to your desired size */
    height: 100%; /* Adjust height to your desired size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
    border-radius: 8px; /* Optional: rounded corners */
  }
  #map svg {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; /* Let map clicks go through */
    /* background: yellow; */
    /* opacity: 0.5; */
  }

  #map svg circle {
    pointer-events: auto;       /* Enable interaction */
    /* fill: steelblue; */
    fill-opacity: 0.6;
    stroke: white;
    stroke-width: 1;
  }

  header {
    display: flex;
    align-items: baseline;
    gap: 1em;
    padding: 0.5em 1em;
  }
  
  header label {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  header time,
  header em {
    display: block;
    margin-top: 0.25em;
  }
  
  header em {
    color: #777;
    font-style: italic;
  }
  
  circle {
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
      in oklch,
      var(--color-departures) calc(100% * var(--departure-ratio)),
      var(--color-arrivals)
    );
    fill: var(--color);
  }
  
  .legend {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-block: 1.5em;
    font-size: 0.9em;
  }
  
  .legend-title {
    font-weight: bold;
  }
  
  .legend > div:not(.legend-title) {
    display: flex;
    align-items: center;
    gap: 0.5em;
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
      in oklch,
      var(--color-departures) calc(100% * var(--departure-ratio)),
      var(--color-arrivals)
    );
  }
  
  /* The colored square (swatch) */
  .legend > div:not(.legend-title)::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: var(--color);
    border-radius: 2px;
    box-shadow: 0 0 0 1px #0002; /* subtle border */
  }
  